<template>
    <div class="carousel rounded-box">
        <div class="carousel-item">
            <ItemCard />
        </div>
        <div class="carousel-item">
            <ItemCard />
        </div>
        <div class="carousel-item">
            <ItemCard />
        </div>
        <div class="carousel-item">
            <ItemCard />
        </div>
        <div class="carousel-item">
            <ItemCard />
        </div>
        <div class="carousel-item">
            <ItemCard />
        </div>
        <div class="carousel-item">
            <ItemCard />
        </div>
    </div>
</template>