<template>
  <main data-theme="cupcake" class="h-[100vh]">
    <Navbar />
    <Hero />

    <Items />
    <h1>Home page index</h1>
    <a href="https://nuxtjs.org">External Link to another page</a>
    <Filler />
    <TheFooter />
  </main>
</template>
